.phase3 {
  height: 100%; }
  .phase3Background {
    height: 100%; }
  .phase3Animation {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; }
  .phase3 .phase3_Shrink {
    width: 22vmax;
    height: 5vmax;
    top: calc((100% - 5vmax) /2);
    right: calc((100% - 22vmax) /2);
    position: absolute;
    background-image: url(../../img/phase2/letter_next.png);
    background-repeat: no-repeat;
    background-size: contain; }
    .phase3 .phase3_Shrink::before {
      content: "";
      width: 0vmax;
      height: 5vmax;
      position: absolute;
      background-color: #F6F7F8;
      animation: Shrink .5s 1.7s linear forwards; }
    .phase3 .phase3_Shrink::after {
      content: "";
      width: 0vmax;
      height: 5vmax;
      position: absolute;
      right: 0;
      background-color: #F6F7F8;
      animation: Shrink .5s 1.7s linear forwards; }

@keyframes Shrink {
  0% {
    width: 0vmax; }
  100% {
    width: calc(22vmax / 2); } }
